<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
     <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Available seat</th>
      <th scope="col">Projected eta</th>
      <th scope="col">Origin</th>
      <th scope="col">Destination</th>
      <th scope="col">Description</th>
      <th scope="col">Username</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itineraries.each do |itinerary| %>
      <tr scope="row">
        <td><%= itinerary.start_date %></td>
        <td><%= itinerary.end_date %></td>
        <td><%= itinerary.available_seat %></td>
        <td><%= itinerary.eta %></td>
        <td><%= itinerary.start_location %>
        <td><%= itinerary.end_location %>
        <td><%= itinerary.short_description %></td>
        <td><%= itinerary.username %></td>
        <td><%= link_to 'Show', itinerary %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @itineraries %>
