<p id="notice"><%= notice %></p>
<div class="itineraryContainer">
<h1>Itineraries</h1>



<%= render 'table' %>


<br>

<%= react_component 'Itineraries' %>

<%= link_to 'New Itinerary', new_itinerary_path, class:"btn btn-primary" %>
</div>

<button class="ui primary button"><%= link_to "Messages", chatrooms_path %></button>

