
<% if not @itinerary.avatar_image.attachment.nil? %>
<div class="containShow">
  <div class="showPicture">
    <div class="col-md-8">
      <div class="text-center imageHolder">
          <%= image_tag @itinerary.avatar_image, height: 250 %>
      </div>
    </div>
  </div>
  <% end %>

<div class="showItinerary">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Start location:</strong>
    <%= @itinerary.locations.origin.first %>
  </p>
  <p>
    <strong>Start date:</strong>
    <%= @itinerary.start_date %>
  </p>

   <p>
    <strong>End location:</strong>
    <%= @itinerary.locations.destination.first %>
  </p>
  <p>
    <strong>End date:</strong>
    <%= @itinerary.end_date %>
  </p>

  <p>
    <strong>Available seat:</strong>
    <%= @itinerary.available_seat %>
  </p>

  <p>
    <strong>Projected eta:</strong>
    <%= @itinerary.projected_eta %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @itinerary.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @itinerary.user.first_name %>
  </p>
<div>
  <% if @current_user.id == @itinerary.user.id %>
    <div class="btn btn-primary">
        <td><%= link_to 'Destroy', @itinerary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
  <% end %>
<div class="btn btn-primary">
    <%= link_to 'Edit', edit_itinerary_path(@itinerary) %>
    </div>
    <div class="btn btn-primary">
    <%= link_to 'Back', itineraries_path %>
    </div>
  </div>
  </div>

<% console %>
