<!DOCTYPE html>
<html>
  <head>
    <title>GoHykr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo-wrapper">
        <a class="logo" href="">
          <%= image_tag "gohykr-logo.png", class: "logo-page"%>
        </a>
      </div>
      <nav>
        <ul>
          <li>
            Available Itineraries</li>
          <li>Post a Ride</li>
          <li>Events</li>
          <li>About Us</li>
          <li>FAQ</li>
          <li>Log In or Sign Up</li>
        </ul>
      </nav>
  
      <%= yield %>
  </body>
</html>
