<!DOCTYPE html>
<html>
  <head>
    <title>GoHykr</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
      <div class="logo-wrapper">
        <a class="logo" href="/">
          <%= image_tag "gohykr-logo.png", class: "logo-page" %>
        </a>
      </div>
      <nav>
        <ul>
          <li>Available Itineraries</li>
          <li>Post a Ride</li>
          <li>Events</li>
          <li>About Us</li>
          <li>FAQ</li>
           
            <% if logged_in? %>
              <%= link_to 'Logout', logout_path %>
            <% else %>
              <li class="login"><%= link_to "Log In", login_path %></li>
              <li class="login"><%= link_to "Sign Up", signup_path %></li>
            <% end %>
          </ul>
      </nav>
    <%= yield %>
  </body>
</html>
